<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
<style>
    * {
        font-family: "Rubik", "sans-serif";
    }
    div {
        text-align: center;
        margin-top: 50px;
    }
    h1 {
        color: red;
        font-size: 40pt;
    }
    p {
        font-size: 24pt;
    }
</style>
    <div>
        <h1>Welcome!</h1><br>
        <p>This site has been Visited {{ count }} times.</p>
    </div>
</body>
</html>